<form class="sheet w4sq {{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

    <div class="header-fields">
      <h1><input name="name" type="text" value="{{actor.name}}"/></h1>

      <div class="grid grid-2col">
        <label>HP</label>
        <div class="pair">
          <input type="number" data-dtype="Number" name="flags.wfrp4e-squads.hp" value="{{squad.hp}}"/>
          <span>/</span>
          <input type="number" data-dtype="Number" name="flags.wfrp4e-squads.hpMax" value="{{squad.hpMax}}"/>
        </div>

        <label>Morale</label>
        <div class="pair">
          <input type="number" data-dtype="Number" name="flags.wfrp4e-squads.morale" value="{{squad.morale}}"/>
          <span>/</span>
          <input type="number" data-dtype="Number" name="flags.wfrp4e-squads.moraleMax" value="{{squad.moraleMax}}"/>
        </div>

        <label>Exp</label>
        <input type="number" data-dtype="Number" name="flags.wfrp4e-squads.experienceTier" value="{{squad.experienceTier}}"/>

        <label>Eq</label>
        <input type="number" data-dtype="Number" name="flags.wfrp4e-squads.equipmentTier" value="{{squad.equipmentTier}}"/>

        <label>Role</label>
        <select name="flags.wfrp4e-squads.role">
          {{#each roles as |r key|}}
            <option value="{{key}}" {{#if (eq ../squad.role key)}}selected{{/if}}>{{r.label}}</option>
          {{/each}}
        </select>

        <label>Weapon</label>
        <select name="flags.wfrp4e-squads.weapon">
          {{#each weapons as |w key|}}
            <option value="{{key}}" {{#if (eq ../squad.weapon key)}}selected{{/if}}>{{w.label}}</option>
          {{/each}}
        </select>
      </div>

      <div class="actions">
        <button type="button" data-action="maneuver">Maneuver</button>
        <button type="button" data-action="melee">Melee</button>
        <button type="button" data-action="ranged">Ranged</button>
      </div>
    </div>
  </header>
</form>
